<footer class="page-footer blue-grey lighten-1">
    <div class="footer-copyright">
        <div class="container">
            © 2020 Axel Salinière
            <a class="grey-text text-lighten-4 right" href="https://twitter.com/adecess"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>