<nav class="brown darken-4">
    <div class="nav-wrapper container">

        <a href="/" class="brand-logo"><i class="fas fa-clone"></i>Meme Generator</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/upload"  class="waves-effect waves-light btn-large blue lighten-1">Create Meme</a></li>
            <li><a href="/auth/logout" class="waves-effect waves-light btn">Logout</a></li>
        </ul>
    </div>
</nav>