<nav class="brown darken-4">
    <div class="nav-wrapper container">

        <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-up"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/upload">Create Meme</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>

        <a href="/" class="brand-logo"><i class="material-icons">photo_size_select_actual</i>Meme Generator</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/upload"  class="waves-effect waves-light btn blue lighten-1">Create Meme</a></li>
            <li><a href="/auth/logout" class="waves-effect waves-light btn">Logout</a></li>
        </ul>
    </div>
</nav>