<nav class="grey darken-4">
    <div class="nav-wrapper container">

        <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-up btn-floating blue darken-4 pulse"><i class="material-icons">menu</i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/upload">Create Meme</a></li>
            <li><a href="/auth/google">Log In With Google</a></li>
        </ul>

        <a href="/" class="brand-logo">Home</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i>Log In With Google</a></li>
        </ul>
    </div>
</nav>