<div class="container">
    <div class="center main-center">
        <h2 class="lead">Meme Generator</h3>

        <h5>Memez-Maker is a free online tool for innovators, dreamers and comedians.</h3>
                
        <a href="/upload" class="btn btn-create blue lighten-1">Start creating here!</a>

        <img class="login-img" src="img/make-your-memes.jpg" alt="What if you could make your own memes?">
    </div>
</div>