<div class="container">
    <div class="upload center">
        <h3>Upload Image to Generate Your Meme</h3>
        
        <div class="row">

            <div class="col s12 m6">
                <h5>Click here to upload image</h5>
                <div class="canvas-wrapper"></div>   
            </div>

            <div class="col s12 m6">
                <h5 class="top-text">Top Text</h5>
                <h5 class="bottom-text">Bottom Text</h5>
                <h5>Select text color</h5>
                    <div class="color-picker"></div>
                <h5 class="slider">Select text size</h5>
                <a class="waves-effect waves-light btn black save-btn"><i class="material-icons right">file_download</i>Download Meme</a>
            </div>

        </div>
            
    </div>
</div>

<script language="JavaScript" type="application/javascript" src="/js/upload.js"></script>