body {
    min-height: 100vh;
}

.container {
    min-height: calc(100vh - 64px - 50px);
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

i.fab.fa-google.left {
    line-height: 36px;
}

img {
    height: 35vw;
}

input {
    text-align: center;
    color: lightgray;
}

.slider {
    height: 100%;
}

.upload, .dashboard {
    min-height: 490px;;
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img {
    padding: 0 20px 20px;
}

.single-img img {
    height: auto;
    max-width: 300px;
}

img:hover {
    opacity: .5;
    transition: .9s;
}   

.meme-name {
    max-width: 200px;
}

#defaultCanvas0 {
    max-width: 300px;
    height: auto !important;
}

footer {
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

.footer-copyright {
    min-height: 50px;
    line-height: 50px;
}