body {
    min-height: 708.2px;
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

i.fab.fa-google.left {
    line-height: 36px;
}

img {
    height: 35vw;
}

input {
    text-align: center;
    color: lightgray;
}

.slider {
    height: 100%;
}

.page-footer {
    padding-top: 0;
    color: #fff;
    background-color: #ee6e73;
    margin-top: 75px;
}

.upload, .dashboard {
    min-height: 490px;;
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img {
    padding: 0 20px 20px;
}

.single-img img {
    height: auto;
    max-width: 300px;
}

img:hover {
    opacity: .5;
    transition: .9s;
}   

.meme-name {
    max-width: 200px;
}

#defaultCanvas0 {
    max-width: 350px;
    height: auto !important;
}