body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Header */

i.fab.fa-google.left {
    line-height: 36px;
}

.upload, .dashboard {
    min-height: 490px;;
}

nav .sidenav-trigger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 10px !important;
    height: 40px !important;
}

/* Dashboard */

p {
    margin: 10px 0 !important;
}

img {
    height: 35vw;
}

input {
    text-align: center;
    color: lightgray;
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img {
    padding: 0 20px 20px;
}

.single-img img {
    height: auto;
    max-width: 300px;
}

img:hover {
    opacity: .5;
    transition: .9s;
}   

/* Upload page */

.canvas-wrapper {
    margin-top: 25px;
}

#defaultCanvas0 {
    max-width: 300px;
    height: auto !important;
    margin-top: 15px;
}

.slider {
    height: 100%;
}

.submit-btn {
    margin-bottom: 20px;
}

/* Footer */
.page-footer {
    background-color: transparent;
}

